<div class="column">
  <div class="col-xs-6 col-md-3">
    <a href="http://www.msn.com/ja-jp/news/national/%e7%9a%87%e5%ae%a4%e7%9c%9e%e5%ad%90%e3%81%95%e3%81%be%e3%81%a8%e5%b0%8f%e5%ae%a4%e3%81%95%e3%82%93%e3%81%ae%e4%bc%9a%e8%a6%8b%e3%80%81%ef%bc%98%e6%97%a5%e5%8d%88%e5%be%8c%ef%bc%93%e6%99%82/ar-BBDM9DN?ocid=spartanntp" class="thumbnail">
      <img src="/images/1.png" alt="..." class="img-circle">
    </a>
    <a href="http://www.msn.com/ja-jp/news/national/%e7%9a%87%e5%ae%a4%e7%9c%9e%e5%ad%90%e3%81%95%e3%81%be%e3%81%a8%e5%b0%8f%e5%ae%a4%e3%81%95%e3%82%93%e3%81%ae%e4%bc%9a%e8%a6%8b%e3%80%81%ef%bc%98%e6%97%a5%e5%8d%88%e5%be%8c%ef%bc%93%e6%99%82/ar-BBDM9DN?ocid=spartanntp" class="thumbnail">
      <img src="/images/1.png" alt="..." class="img-circle">
    </a>
    <a href="http://www.msn.com/ja-jp/news/national/%e7%9a%87%e5%ae%a4%e7%9c%9e%e5%ad%90%e3%81%95%e3%81%be%e3%81%a8%e5%b0%8f%e5%ae%a4%e3%81%95%e3%82%93%e3%81%ae%e4%bc%9a%e8%a6%8b%e3%80%81%ef%bc%98%e6%97%a5%e5%8d%88%e5%be%8c%ef%bc%93%e6%99%82/ar-BBDM9DN?ocid=spartanntp" class="thumbnail">
      <img src="/images/1.png" alt="..." class="img-circle">
    </a>
  </div>
  ...
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-lg-2">
      <nav class="navbar navbar-default navbar-fixed-side">
        <!-- normal collapsible navbar markup -->
      </nav>
    </div>
    <div class="col-sm-9 col-lg-10">
      <!-- your page content -->
    </div>
  </div>
</div>

  <body>
 <div class="row">
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
  <div class="col-md-1">.col-md-1</div>
</div>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right">
            <div class="form-group">
              <input type="text" placeholder="Email" class="form-control">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Password" class="form-control">
            </div>
            <button type="submit" class="btn btn-success">Sign in</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

  





    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Hello, world!</h1>
        <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
        <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
       </div>
        <div class="col-md-4">
          <h2>Heading</h2>
          <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
          <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
        </div>
      </div>

      <hr>
<body>
    <div class="container">

      <div class="page-header">
        <h1>ドラゴンサクラ企画　人生で何度も大学へ行こう</h1>
        <p class="lead">新しい知識考えた得ると全く違う価値観になる。アップデートしよう</p>
      </div>

      <h3>最新記事</h3>
      <p>今回の特集はなぜお客様の行動心理とは何か？4つのパラメーターを理解することでお客様がどうやって商品を購入するのかの流ればわかる。</p>
      <div class="row">
        <div class="col-md-4"><iframe width="350" height="315" src="https://www.youtube.com/embed/HCbUwuoiytY" frameborder="0" allowfullscreen></iframe></div>
        <div class="col-md-4"><blockquote class="twitter-tweet" data-lang="fr"><p lang="ja" dir="ltr">人生で何度も大学にいこう！ <a href="https://t.co/3z0d8g04fY">pic.twitter.com/3z0d8g04fY</a></p>&mdash; Shintaro Daimon (@DaimonFuji) <a href="https://twitter.com/DaimonFuji/status/878562347119280132">24 juin 2017</a></blockquote>
<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>
        <div class="col-md-4"><iframe width="350" height="315" src="https://www.youtube.com/embed/uPI8Z5ynLyU" frameborder="0" allowfullscreen></iframe></div>
      </div>

      <h3>Three unequal columns</h3>
      <p>Get three columns <strong>starting at desktops and scaling to large desktops</strong> of various widths. Remember, grid columns should add up to twelve for a single horizontal block. More than that, and columns start stacking no matter the viewport.</p>
      <div class="row">
        <div class="col-md-3">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
        <div class="col-md-6">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
        <div class="col-md-3">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
      </div>

      <h3>Two columns</h3>
      <p>Get two columns <strong>starting at desktops and scaling to large desktops</strong>.</p>
      <div class="row">
        <div class="col-md-8">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
        <div class="col-md-4">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
      </div>

      <h3>Full width, single column</h3>
      <p class="text-warning">No grid classes are necessary for full-width elements.</p>

      <hr>

      <h3>Two columns with two nested columns</h3>
      <p>Per the documentation, nesting is easy—just put a row of columns within an existing column. This gives you two columns <strong>starting at desktops and scaling to large desktops</strong>, with another two (equal widths) within the larger column.</p>
      <p>At mobile device sizes, tablets and down, these columns and their nested columns will stack.</p>
      <div class="row">
        <div class="col-md-8">
          Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行
          <div class="row">
            <div class="col-md-6">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
            <div class="col-md-6">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
          </div>
        </div>
        <div class="col-md-4">Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行Gruntとは，JavaScriptで書いたタスクを実行してくれるアプリケーション（JavaScript Task Runner）である。
面倒な作業として，以下のような作業があるが，Gruntを使うことでこれらを自動化することが出来る。
minify（圧縮）や結合
単体テストの実行
JSLint（構文チェック）の実行
CoffeeScriptやTypeScriptを使用している場合にはコンパイル（JavaScript変換）の実行
SCSS（Sass）やLESSなどのCSS拡張メタ言語を使用している場合には，コンパイル（CSS変換）の実行</div>
      </div>

      <hr>













      <footer>
        <p>&copy; 2016 Company, Inc.
        Designed and built with all the love in the world by @mdo and @fat. Maintained by the core team with the help of our contributors.
Code licensed MIT, docs CC BY 3.0.</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills pull-right">
            <li role="presentation" class="active"><a href="#">Home</a></li>
            <li role="presentation"><a href="#">About</a></li>
            <li role="presentation"><a href="#">Contact</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Project name</h3>
      </div>

      <div class="jumbotron">
        <h1>Jumbotron heading</h1>
        <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>

        <div class="col-lg-6">
          <h4>Subheading</h4>
          <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p>

          <h4>Subheading</h4>
          <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p>

          <h4>Subheading</h4>
          <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p>
        </div>
      </div>
<div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
          </div>
      

    </div> <!-- /container -->


    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>